{% include 'overall_header.html' %}

<h1>{{ lang('ACP_CONSENTMANAGER') }}</h1>

<p>{{ lang('ACP_CONSENTMANAGER_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_consentmanager" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_CONSENTMANAGER_CATEGORIES') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_CONSENTMANAGER_ANALYTICS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_CONSENTMANAGER_ANALYTICS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="consentmanager_analytics_enabled" value="1" {% if S_CONSENTMANAGER_ANALYTICS %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="consentmanager_analytics_enabled" value="0" {% if not S_CONSENTMANAGER_ANALYTICS %}checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_CONSENTMANAGER_MARKETING') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_CONSENTMANAGER_MARKETING_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="consentmanager_marketing_enabled" value="1" {% if S_CONSENTMANAGER_MARKETING %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="consentmanager_marketing_enabled" value="0" {% if not S_CONSENTMANAGER_MARKETING %}checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_CONSENTMANAGER_MEDIA') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_CONSENTMANAGER_MEDIA_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="consentmanager_media_enabled" value="1" {% if S_CONSENTMANAGER_MEDIA %}checked="checked"{% endif %}> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="consentmanager_media_enabled" value="0" {% if not S_CONSENTMANAGER_MEDIA %}checked="checked"{% endif %}> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_CONSENTMANAGER_INTEGRATIONS') }}</legend>
		<dl>
			<dt><label for="consentmanager_integrations">{{ lang('ACP_CONSENTMANAGER_INTEGRATIONS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_CONSENTMANAGER_INTEGRATIONS_EXPLAIN') }}</span><br><br>
				<span><strong>{{ lang('EXAMPLE') ~ lang('COLON') }}</strong></span>
				<pre>
					<code>
[
  {
    "id": "board.analytics",
    "category": "analytics",
    "label": "Board Analytics",
    "description": "Loads a simple analytics library after consent.",
    "src": "https://cdn.example.com/analytics.js",
    "async": true
  }
]
					</code>
				</pre>
			</dt>
			<dd><textarea id="consentmanager_integrations" name="consentmanager_integrations" rows="14" cols="90">{{ CONSENTMANAGER_INTEGRATIONS|e('html') }}</textarea></dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_CONSENTMANAGER_VERSION') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_CONSENTMANAGER_VERSION') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_CONSENTMANAGER_VERSION_EXPLAIN') }}</span></dt>
			<dd><strong>{{ CONSENTMANAGER_VERSION }}</strong></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="submit" id="reset_consent" name="reset_consent" value="{{ lang('ACP_CONSENTMANAGER_FORCE_REPROMPT') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
