{% include 'overall_header.html' %}

<h1>{{ lang('ACP_CONSENTMANAGER') }}</h1>

<p>{{ lang('ACP_CONSENTMANAGER_EXPORT_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="acp_consentmanager_export" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_CONSENTMANAGER_EXPORT_FILTERS') }}</legend>
		<dl>
			<dt>
				<label for="export_date_from">{{ lang('ACP_CONSENTMANAGER_EXPORT_DATE_FROM') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CONSENTMANAGER_EXPORT_DATE_FROM_EXPLAIN') }}</span>
			</dt>
			<dd><input type="date" id="export_date_from" name="export_date_from" value="{{ EXPORT_DATE_FROM|e('html') }}"></dd>
		</dl>
		<dl>
			<dt>
				<label for="export_date_to">{{ lang('ACP_CONSENTMANAGER_EXPORT_DATE_TO') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CONSENTMANAGER_EXPORT_DATE_TO_EXPLAIN') }}</span>
			</dt>
			<dd><input type="date" id="export_date_to" name="export_date_to" value="{{ EXPORT_DATE_TO|e('html') }}"></dd>
		</dl>
		<dl>
			<dt>
				<label for="export_username">{{ lang('USERNAME') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CONSENTMANAGER_EXPORT_USERNAME_EXPLAIN') }}</span>
			</dt>
			<dd><input type="text" id="export_username" name="export_username" value="{{ EXPORT_USERNAME|e('html') }}" class="text narrow"></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
		</dl>
		<dl>
			<dt>
				<label for="export_consent_version">{{ lang('ACP_CONSENTMANAGER_EXPORT_VERSION') ~ lang('COLON') }}</label>
				<br><span>{{ lang('ACP_CONSENTMANAGER_EXPORT_VERSION_EXPLAIN') }}</span>
			</dt>
			<dd><input type="number" id="export_consent_version" name="export_consent_version" min="0" value="{{ EXPORT_CONSENT_VER }}"></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="download_csv" value="{{ lang('ACP_CONSENTMANAGER_EXPORT_DOWNLOAD') }}">&nbsp;
		<input class="button2" type="submit" name="delete_logs" value="{{ lang('ACP_CONSENTMANAGER_DELETE') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
